In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
d=pd.read_csv("C:\\Users\\LilyB\Desktop\\Household recycling.csv")
df=pd.DataFrame(d)

display(df.head())
print(df.shape)



"""

The recycling rate is calculated as set out below.

For Waste Collection Authorities (WCA) and Unitary Authorities (UA):
X/Y x 100, where:
X = Tonnage (weight in tons) of household waste collected by the WCA or UA which is sent for recycling/composting 
    (including private/voluntary collections of household waste for recycling)
Y = Total tonnage of household waste collected by the WCA or UA 
    (including private/voluntary collections of household waste for recycling)

"""

        Code                  Area     Year  Recycling_Rates
0  E09000001        City of London  2003/04                8
1  E09000002  Barking and Dagenham  2003/04                5
2  E09000003                Barnet  2003/04               16
3  E09000004                Bexley  2003/04               21
4  E09000005                 Brent  2003/04               10

(817, 4)

'\n\nThe recycling rate is calculated as set out below.\n\nFor Waste Collection Authorities (WCA) and Unitary Authorities (UA):\nX/Y x 100, where:\nX = Tonnage (weight in tons) of household waste collected by the WCA or UA which is sent for recycling/composting \n    (including private/voluntary collections of household waste for recycling)\nY = Total tonnage of household waste collected by the WCA or UA \n    (including private/voluntary collections of household waste for recycling)\n\n'

In [11]:
#Takes the total mean and median recycling rates
recycling_rates = df['Recycling_Rates']

print('Mean:',recycling_rates.mean())
print('Median:',recycling_rates.median())

#Calculates the interquartile range (IQR)
from scipy.stats import iqr

IQR = iqr(recycling_rates)

#Caculates the 1st (Q1) and 3rd (Q3) quartile      
q1=(np.quantile(recycling_rates,0.25))
q3=(np.quantile(recycling_rates,0.75))

#Calculates the outliers among the recycling rate array 
data = np.array(recycling_rates)

threshold= 1.5 * IQR
outliers = np.where((data < q1 - threshold) | (data > q3 + threshold))
print("Outliers of array:", np.sort(data[outliers]))

Mean: 31.769889840881273
Median: 32.0
Outliers of array: []