In [1]:
import pandas as pd
d=pd.read_csv("C:\\Users\\LilyB\Desktop\\Household recycling.csv")
df=pd.DataFrame(d)

In [2]:
print(df)

          Code                  Area     Year  Recycling_Rates
0    E09000001        City of London  2003/04                8
1    E09000002  Barking and Dagenham  2003/04                5
2    E09000003                Barnet  2003/04               16
3    E09000004                Bexley  2003/04               21
4    E09000005                 Brent  2003/04               10
..         ...                   ...      ...              ...
812  E12000006                  East  2021/22               46
813  E12000007                London  2021/22               33
814  E12000008            South East  2021/22               46
815  E12000009            South West  2021/22               49
816  E92000001               England  2021/22               43

[817 rows x 4 columns]

In [3]:
display(df)

          Code                  Area     Year  Recycling_Rates
0    E09000001        City of London  2003/04                8
1    E09000002  Barking and Dagenham  2003/04                5
2    E09000003                Barnet  2003/04               16
3    E09000004                Bexley  2003/04               21
4    E09000005                 Brent  2003/04               10
..         ...                   ...      ...              ...
812  E12000006                  East  2021/22               46
813  E12000007                London  2021/22               33
814  E12000008            South East  2021/22               46
815  E12000009            South West  2021/22               49
816  E92000001               England  2021/22               43

[817 rows x 4 columns]