In [1]:
import pandas as pd
d=pd.read_csv("C:\\Users\\LilyB\Desktop\\recycling-diversion-and-capture-rates.csv")
df=pd.DataFrame(d)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2282928039.py, line 2)

In [2]:
import pandas as pd
d=pd.read_csv("C:\\Users\\LilyB\Desktop\\recycling-diversion-and-capture-rates.csv")
df=pd.DataFrame(d)

In [3]:
print(df)

                Zone District  Fiscal Month Number  Fiscal Year Month Name  \
0     Brooklyn North    BKN01                   10         2019      April
1     Brooklyn North    BKN02                   10         2019      April
2     Brooklyn North    BKN03                   10         2019      April
3     Brooklyn North    BKN04                   10         2019      April
4     Brooklyn North    BKN05                   10         2019      April
...              ...      ...                  ...          ...        ...
2827     Queens West     QW06                    3         2016  September
2828     Queens West     QW09                    3         2016  September
2829   Staten Island     SI01                    3         2016  September
2830   Staten Island     SI02                    3         2016  September
2831   Staten Island     SI03                    3         2016  September

      Diversion Rate-Total (Total Recycling / Total Waste)  \
0                                             14.687093
1                                             19.950181
2                                             12.164161
3                                             15.541803
4                                             10.051845
...                                                 ...
2827                                          20.121474
2828                                          17.434862
2829                                          18.683835
2830                                          19.016819
2831                                          20.310479

      Capture Rate-Paper (Total Paper / Max Paper)  \
0                                        44.909160
1                                        34.194020
2                                        33.521557
3                                        35.211361
4                                        22.265430
...                                            ...
2827                                     30.419689
2828                                     41.106547
2829                                     39.519943
2830                                     44.457926
2831                                     48.209297

      Capture Rate-MGP (Total MGP / Max MGP)  \
0                                  43.034062
1                                  57.947031
2                                  44.919731
3                                  68.511260
4                                  45.051791
...                                      ...
2827                               67.956136
2828                               79.695072
2829                               71.716492
2830                               74.960200
2831                               79.496877

      Capture Rate-Total ((Total Recycling - Leaves (Recycling)) / (Max Paper + Max MGP))x100
0                                             44.146764
1                                             41.213700
2                                             38.155937
3                                             48.750755
4                                             31.530129
...                                                 ...
2827                                          39.033308
2828                                          54.272736
2829                                          49.652669
2830                                          54.057439
2831                                          58.055957

[2832 rows x 9 columns]

In [4]:
display(df)

,Zone,District,Fiscal Month Number,Fiscal Year,Month Name,Diversion Rate-Total (Total Recycling / Total Waste),Capture Rate-Paper (Total Paper / Max Paper),Capture Rate-MGP (Total MGP / Max MGP),Capture Rate-Total ((Total Recycling - Leaves (Recycling)) / (Max Paper + Max MGP))x100
0,Brooklyn North,BKN01,10,2019,April,14.687093,44.909160,43.034062,44.146764
1,Brooklyn North,BKN02,10,2019,April,19.950181,34.194020,57.947031,41.213700
2,Brooklyn North,BKN03,10,2019,April,12.164161,33.521557,44.919731,38.155937
3,Brooklyn North,BKN04,10,2019,April,15.541803,35.211361,68.511260,48.750755
4,Brooklyn North,BKN05,10,2019,April,10.051845,22.265430,45.051791,31.530129
...,...,...,...,...,...,...,...,...,...
2827,Queens West,QW06,3,2016,September,20.121474,30.419689,67.956136,39.033308
2828,Queens West,QW09,3,2016,September,17.434862,41.106547,79.695072,54.272736
2829,Staten Island,SI01,3,2016,September,18.683835,39.519943,71.716492,49.652669
2830,Staten Island,SI02,3,2016,September,19.016819,44.457926,74.960200,54.057439
2831,Staten Island,SI03,3,2016,September,20.310479,48.209297,79.496877,58.055957